header {
    text-align: center;
}
.principal { 
    font-family: Verdana, sans-serif;
    width: 940px;
    margin: 0 auto;
    text-align: justify;
}
#banner { 
    width: 100%;
} 
#cabecalho {
    font-family: 'Rubik Distressed', cursive;
}
body { 
    background-color: rgb(168, 163, 163);
    margin: 0;
}
@media (max-width: 480px) {
    body {
    width: fit-content;
    }
}
h1 { 
    display: block;
    font-size: 4em;
    font-weight: 600;
    margin-block-start: 1em;
}

h2 {
    margin-block-start: 5em;
    margin-block-end: 3em;
    font-weight: 300;
}

@media (max-width:480px) {
    h2 {
        margin: 3em 0;
        /* margin-block-start: 5em; */
        /* margin-block-end: 3em; */
        font-weight: 300;
} }

#display-img { 
    width: 15%;
    height: 15%;
    padding: 6px;
    margin-block-start: 3em;
    margin-block-end: 1em;
    margin-inline-end: 16px;
}

@media (max-width:480px) {
    #display-img {
        width: 30%;
        /* height: fit-content; */
        padding: 6px;
        /* margin-block-start: 3em; */
        /* margin-block-end: 1em; */
        margin-inline-end: 16px;
} }

#display-txt { 
    padding: 6px;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 16px;
    font-size: 18px;
}
.container { 
    display: flex;
    align-items: center;
    justify-content: center;
    margin-block-end: 3em;
}
footer {
    text-align: center;
    background-color: rgb(80, 85, 88);
    padding: 40px 0;
    font-family: 'Rubik Distressed', cursive;
}