* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
.navbar {
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    background-color: #035317;
}

.navbar-logo {
    display: flex;
    align-items: center;
    gap: 20px;
}

.img-logo {
    width: 80px;
    height: 50px;
    margin-left: 40px;
}

.navbar-titulo {
    color: #ffffff;
    font-size: 1.3rem;

}
.navbar-lista {
    list-style: none;
    display: flex;
    gap: 25px;
    margin-right: 40px;
}
.navbar-link {
    color: #ffffff;
    font-size: 1.3rem;
    text-decoration: none;
    font-weight: bold;
    cursor: pointer;
}
.mobile-menu-icon {
    display: none;
}
.mobile-menu {
    display: none;
}
.main {
    width: 80%;
    margin: auto;
    padding-top: 80px;
    background-color: beige;
}

.titulo-sobre {
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
    padding-top: 30px;
}

.subtitulo-sobre {
    text-align: center;
    font-size: 1.1rem;
    padding: 20px;
    color: rgb(102, 97, 89);
}

.section-historia,
.section-carreira,
.section-black-money {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 80px;
}

.img-historia {
    width: 100%;
    max-width: 30%;
    height: auto;
    border-radius: 50%;
    margin-right: 50px;
}

.img-carreira {
    width: 100%;
    max-width: 30%;
    height: auto;
    border-radius: 50%;
    margin-left: 50px;
}

.paragrafo-section {
    
    text-align: center;
    line-height: 1.5;
    text-indent: 50px;
    padding: 50px;
}

.titulo-video {
    text-align: center;
    font-size: 1.3rem;
    margin-bottom: 30px;
}

.video {
    margin-right: 50px;
    
}

.section-form {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 10vh;
    padding: 20px;
    background: linear-gradient(#30f37b, #035317);
    width: 100%;
}
.redes-sociais {
    display: flex;
    flex-direction: column;
    /* width: 50%; */
    align-items: center;
    justify-content: center;

}

.redes-sociais h3 {
    color: #ffffff;
    font-size: 3rem;
    margin-bottom: 80px;
}
.icon-redes {
    text-align: center;
}
.formulario {
    display: flex;
    align-items: left;
    flex-direction: column;   

}
.label {
    color: #ffffff;
    font-weight: 600;
    padding-top: 10px;
}
.input-form {
    width: 250px;
    height: 30px;
    padding-left: 5px;
    border-radius: 5px;
    border: 1px solid;
    outline: none;
}

.textarea {
    width: 250px;
    height: 90px;
    padding-left: 5px;
    border-radius: 5px;
    border: 1px solid;
    outline: none;
}
.button {
    background-color: black;
    color: aliceblue;
    margin: 20px auto;
    padding: 10px;
    width: 50%;
    border-radius: 5px;
    border: 1px solid black;
    outline: none;
    cursor: pointer;
}
.footer {
    width: 100%;
    background-color: #035317;
    border-top: 1px solid #30f37b6e;
}
.paragrafo-footer {
    text-align: center;
    padding: 10px;
    color: #ffffff;
}

/* condição a partir de 600px até 1280px */

@media (min-width: 600px) and (max-width: 1024px){
    .mobile-menu-icon {
        display: block;
        width: 1rem;
        margin-right: 3rem;
    }
    .mobile-menu-icon button {
        background-color: transparent;
        border: none;
        cursor: pointer;
    }
    .mobile-menu ul {
        display: flex;
        flex-direction: column;
        text-align: center;
    }  
    .navbar-lista {
        display: none;
    }
    .section-historia {
        flex-direction: column;
        padding: 30px;
    }
    .img-historia {
        order:-1;
        margin: 0;
    }
    .paragrafo-section {
        text-align: justify;
        padding: 30px;
    }
    .img-carreira {
        margin: 0;
    }
    .section-carreira, .section-black-money {
        flex-direction: column;
        padding: 0;
    }
    .titulo-video {
        font-size: 100%;
        width: 90%;
        margin: auto;
        padding-bottom: 30px;
    }
    .video {
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin-right: 0;      
    }  
    .iframe {
        width: 90%;
        margin: auto;
    }
    .section-form {
        flex-direction: column;
        margin-top: 100px;
    }
    .section-form h3 {
        margin: 40px auto;
    }
    .icon-redes {
        margin-bottom: 40px;
    }
}

/* condição até 480px */

@media (max-width: 480px) {
    .mobile-menu-icon {
        display: block;
        width: 1rem;
        margin-right: 2rem;
    }
    .mobile-menu-icon button {
        background-color: transparent;
        border: none;
        cursor: pointer;       
    }
    .mobile-menu ul {
        display: flex;
        flex-direction: column;
        text-align: center;
    } 
    .navbar-lista {
        display: none;
    }
    .titulo-sobre {
        font-size: 2rem;
    }
    .section-historia {
        flex-direction: column;
        padding: 30px;
    }
    .img-historia {
        order: -1;
        margin: 0;
    }
    .paragrafo-section {
        text-align: justify;
        padding: 30px;
    }
    .section-carreira {
        flex-direction: column;
        padding: 0;
    }
    .img-carreira {
        margin: 0;
    }
    .section-black-money {
        flex-direction: column;
        padding: 0;
    }
    .titulo-video {
        font-size: 90%;
        width: 85%;
        margin: auto;
        padding-bottom: 30px;
    }
    .video {
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin-right: 0;      
    }
    .iframe {
        width: 80%;
        margin: auto;
    }
    .section-form {
        flex-direction: column;
        margin-top: 100px;
    }
    .section-form h3 {
        margin: 40px auto;
    }
    .icon-redes {
        margin-bottom: 40px;
    }

} 